body {
    background-color: #333;
    font-size: 16px;
    font-family: 'Niramit', 'Calibri', 'Ubuntu';
    color: #444;

    .ui-widget-overlay.custom-overlay {
        background-color: black;
        background-image: none;
        opacity: 0.7;
        z-index: 1040;
    }

    .add_items_dialog {
        padding: 0;

        .ui-widget-header {
            border: none;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }

        .ui-dialog-title {
            font-family: 'Nunito', 'Verdana', 'Arial';
            color: #ba4363;
        }

        .add_dialog {
            padding: 0 1.5em;
            font-family: 'Niramit', 'Calibri', 'Ubuntu';

            h4 {
                display: none;
            }

            li {
                color: #777;
                line-height: 1.5em;
                font-size: 0.8em;
            }

            p.messages {
                font-size: 0.8em;
                padding: 10px;
                margin: 27px auto 0 auto;
            }

            textarea {
                font-family: 'Niramit', 'Calibri', 'Ubuntu';
                display: block;
                margin: 15px auto;
                border: 1px solid #aaaaaa;
                border-radius: 5px;
                padding: 3px;
                font-size: 0.8em;
                color: #444;
                resize: none;
            }
        }

        .ui-widget-content {
            border: none;
        }

        .ui-dialog-buttonpane button {
            font-family: 'Niramit', 'Calibri', 'Ubuntu';
            font-size: 0.8em;
        }
    }

    #githubg_link {
        position: absolute;
        top: 10px;
        left: 10px;
        width: 30px;
        height: 30px;
        background-image: url('../images/gitlab.png');
        background-repeat: no-repeat;
        background-size: 100% auto;
    }

    h1, h1 a, h2, h3 {
        margin: 0;
        color: #026C87;
        font-family: 'Nunito', 'Verdana', 'Arial';
    }

    h2 {
        margin-bottom: 20px;
    }

    h3 {
        margin: 10px;
    }

    p.subtitle {
        margin: 0;
        margin-bottom: 10px;
        font-size: 1.1em;
        color: #ba4363;
    }

    ul {
        padding: 0 20px;
        list-style: none;

        &.hyphenated {
            li:before {
                content: '- ';
            }
        }
    }

    a {
        text-decoration: none;
        color: #ba4363;

        &:hover,
        &:active {
            color: #333;
        }
    }

    span.is_sfw {
        color: #5fa806;
    }

    span.is_not_sfw {
        color: #cc1a61;
    }

    .container {
        width: 55%;
        background-color: #eee;
        margin: 0 auto;
        box-sizing: border-box;
        border-radius: 3px;
    }

    header {
        padding: 30px 20px;
        // background-image: url('../images/banner.jpg');
        // background-size: 100% auto;
        // background-position: left center;
        // background-repeat: no-repeat;
        min-height: 200px;
        border-radius: 3px;

        &.admin {
            height: 100px;
            min-height: inherit;
        }

        h1 {
            text-transform: uppercase;
        }
    }

    nav {
        position: fixed;
        top: 138px;
        left: 13%;
        width: 120px;
        background-color: #eee;
        padding: 5px 20px;
        border-radius: 3px;

        ul {
            li {
                a {
                    display: inline-block;
                    line-height: 1.5em;
                    color: #333;

                    &:hover,
                    &:active {
                        color: #ba4363;
                    }

                    &.active {
                        color: #BA4363;
                        font-weight: bold;
                        pointer-events: none;
                        cursor: default;
                    }

                    &.home {
                        width: 20px;
                        height: 20px;
                        background-image: url('../images/home.png');
                        background-size: 100% auto;

                        &:hover {
                            background-image: url('../images/home-active.png');
                        }
                    }
                }
            }
        }
    }

    .messages {
        border-radius: 5px;
        margin: 0 auto 40px;
        padding: 20px;
        width: 84%;

        &.success {
            background-color: #caf2d7;
            border: 2px solid #00bf6f;
            color: #078e34;
        }

        &.error {
            background-color: #f2cbd1;
            border: 2px solid #bf001c;
            color: #8e071b;
        }
    }

    #wrapper {
        margin-top: 30px;
        padding: 50px;
        border-radius: 3px;

        p.intro {
            color: #666;
            font-size: 0.9em;
            margin-bottom: 40px;
            padding: 0 15px;
        }

        fieldset.collapsed {
            legend {
                cursor: pointer;
            }

            .fieldset_container {
                display: none;

                p {
                    padding: 10px;

                    input[type="submit"] {
                        margin-top: 5px;
                    }
                    input[type="checkbox"] {
                        width: auto;
                    }
                }
            }
        }

        div.content {
            &.admin_content {
                fieldset {
                    width: 50%;

                    p {
                        width: auto;
                    }
                }

                ul {
                    margin-top: 50px;

                    li {
                        margin: 10px;
                        padding: 10px 0;
                        width: 87%;
                        border-bottom: 1px dotted #bbb;

                        &:last-child {
                            border-bottom: none;
                        }

                        span.col {
                            display: inline-block;
                            vertical-align: top;

                            &.first {
                                width: 79%;
                            }
                            &.second {
                                width: 20%;
                            }
                        }

                        a.action,
                        input.action {
                            display: inline-block;
                            font-size: 0.77em;
                        }
                    }
                }
            }
        }

        .button {
            width: auto;
            background-color: transparent;
            border-radius: 3px;
            margin-left: 5px;
            padding: 1px 5px;
            cursor: pointer;
            text-decoration: none;

            &.submit {
                padding: 5px 10px;
                border: 2px solid #00BF6F;
                color: #00BF6F;
            }

            &.edit {
                border: 2px solid #066ca3;
                color: #1185c4;
            }

            &.delete {
                border: 2px solid #bf001c;
                color: #8e071b;
            }
        }

        .form-wrapper {
            padding-left: 30px;

            &.whole-page {
                padding: 30px 10px;
            }

            form {
                p {
                    width: 60%;
                    margin: 0;
                    padding: 20px 10px;
                }

                label {
                    display: inline-block;
                    vertical-align: top;
                    width: 30%;
                    margin-right: 10%;
                    line-height: 1.2em;
                    font-size: 1.1em;
                    font-weight: bold;
                }

                &.dont_show_yet,
                .dont_show_yet {
                    display: none;
                }

                input:not([type="submit"]), textarea, select {
                    width: 55%;
                    vertical-align: top;
                    border: none;
                    border-radius: 2px;
                    padding: 7px;
                    background-color: #dfdfdf;
                }

                input {
                    &[type="submit"] {
                        margin: 0;
                        margin-top: 20px;
                    }

                    &:not([type="submit"]) {
                        padding: 8px 7px;

                        &[type="number"] {
                            width: 20%;
                        }

                        &[type="radio"] {
                            width: auto;
                            margin-right: 15px;
                        }
                    }
                }

                select {
                    width: 57%;

                    &[multiple] {
                        height: 180px;
                    }
                    option {
                        padding: 3px 0;

                        &[value=""] {
                            font-style: italic;
                        }
                    }
                }

                span {
                    display: inline-block;
                    padding-top: 5px;
                    font-size: 0.7em;
                    font-weight: normal;
                }

                fieldset {
                    border: 1px solid #bbb;
                    border-radius: 5px;
                    margin-top: 30px;
                    font-size: 0.95em;

                    legend {
                        color: #BA4363;
                        font-weight: bold;
                    }

                    span.small {
                        padding: 0 10px;
                        font-size: 0.8em;
                        color: #555;
                    }

                    span.small + p {
                        margin-top: 10px;
                    }

                    p {
                        width: auto;
                        margin-left: 10px;
                    }
                }
            }

            div.add_dialog {
                display: none;
            }
        }

        form.inline_form {
            input:not([type="submit"]) {
                width: auto;
                margin-right: 10px;
            }

            label {
                margin-left: 10px;
                font-size: 0.9em;
            }
        }
    }

    footer.container {
        margin-top: 30px;
        padding: 30px;
    }
}
